/* The course scheduler (CS) title 'COAD' */
.cs_title {
    font-size: 120%;
}

/* The CS tools within the tool bar */
.cs_baritem {
    font-size: 90%;
    max-width: 110px;
    margin-top: 5px;
    cursor: pointer;
}

.cs_left {
    margin-right: 10px;
}

.cs_right {
    margin-right: -10px;
    right: -60px;
}

.cs_baritem:hover {
    transition: 0.3s;
    color: #3053a1;
}

.year {
    margin:auto;
}

/* The CS year and courses container */
.year_container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.remove_btn {
    font-size: 105%;
    font-weight: bold;
    color: dimgrey;
    margin-top: -3px;
    margin-left: -2px;
    cursor: pointer;
    transition: transform .2s;
}

.remove_btn:hover {
    color: #e6393f;
    transform: scale(1.3);
    cursor: pointer;
}

/* The CS individual credit/course box - draggable */
.credit_box {
    font-size: 90%;
    padding: 2px 4px;
    margin: 5px -5px;
    background-color: white;

    cursor: grab;
    margin-left: -5px;
    border: 1px solid grey;
    border-radius: 5px;

    white-space: !important normal;
}

/* The CS course/credit list formatting */
.ul_format {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.draggable.dragging {
    opacity: .5;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.remove_year {
    font-size: 90%;
    color: red;
    transition: transform .2s;
}

.remove_year:hover {
    transform: scale(1.1);
}

body {
    min-height: 400px;
    /* Margin bottom by footer height */
    margin-bottom: 400px;
    clear: both;
}
