@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="container-fluid" style="background-color:blue">
        <!--Progress Bar-->
        Progress Bar
    </div>
</div>

<div class="row">
    <div class="container-fluid" style="background-color:green">
        <!--Credit List-->
        Credit List
    </div>
</div>

<div class="row">
    <div class="container-fluid col-8" style="background-color:yellow">
        <!--Course Planner-->
        Course Planner
    </div>

    <div class="container-fluid col-4" style="background-color:purple">
        <!--Course List-->
        Course List
    </div>
</div>

<div class="row">
    <div class="container-fluid" style="background-color:brown">
        <!--Error Box-->
        Error Box
    </div>
</div>




